.env

composer.lock
composer.json

.phpunit.result.cache
/vendor/
config/
assets/
temp_creds.json
tm.py
.dist/
.github/
.env

composer.lock
composer.json

.phpunit.result.cache
/vendor/
config/
assets/
temp_creds.json
tm.py
.dist/
.github/